# Code_v1_extract

The goal of our first coding step is to read in the data, preprocess it and extract preliminary information.

## Prepare

In [1]:
import numpy as np
import pandas as pd
import re
from collections import Counter

### Load Data

In [2]:
data= pd.read_excel('/Users/dongxujia/Dropbox/DS-Discovery_GenderDiversity/04_Data/raw/data_jobads.xlsx',nrows = 200)

### Check Data

In [3]:
# Check variables in dataset
list(data)

['id', 'job_title', 'job_description', 'job_requirement']

In [4]:
# Look at first five rows as an example
data.head()

,id,job_title,job_description,job_requirement
0,1,Group Leader „Compound Portfolio“ CVT (m/f),"Strategic steering and leading of the ""Portfo...","Academic degree in engineering, natural scien..."
1,2,Vehicle System Engineer (m/w),"To master the technologies challenges, we need...",University degree in Engineering or comparabl...
2,3,M&A Manager (m/f),Analysis and valuation of potential target co...,"Academic degree in economics, business admini..."
3,4,Development Engineer electronic solutions acro...,"In 2013 „FirmC Pressure Check“, the Tire Press...","Academic degree in electronics, mechatronics,..."
4,5,System Engineering Process Manager (m/f),Defines and maintains the system engineering ...,University degree in engineering or compatibl...

In [5]:
# Check number of observations in data
data.id.count()

199

In [6]:
# Check if all observations are unique
data.id.nunique()

199

In [7]:
data.shape

(199, 4)

## Goals this Week

Things that I would like you to analyze are:
* Write code to analyze how many words each job ad contains (sum of job_description and job_requirement). What is the variation in words?
* Write code to preprocess the data (lower case letters, delete special characters, tokenize)
* Write code that deletes (m/f) or (m/w) from job_title and check how many times a (similar) job title appears
* Write code that extracts the key words that you wrote down in the spread sheet using regular expressions

In [8]:
# new column "sum_words" - number of words each job ad contains (sum of job_description and job_requirement). 
data['sum_words'] = data['job_description'].str.split(" ").str.len() + data[
    'job_requirement'].str.split(" ").str.len()

In [9]:
data.head()

,id,job_title,job_description,job_requirement,sum_words
0,1,Group Leader „Compound Portfolio“ CVT (m/f),"Strategic steering and leading of the ""Portfo...","Academic degree in engineering, natural scien...",238.0
1,2,Vehicle System Engineer (m/w),"To master the technologies challenges, we need...",University degree in Engineering or comparabl...,231.0
2,3,M&A Manager (m/f),Analysis and valuation of potential target co...,"Academic degree in economics, business admini...",193.0
3,4,Development Engineer electronic solutions acro...,"In 2013 „FirmC Pressure Check“, the Tire Press...","Academic degree in electronics, mechatronics,...",204.0
4,5,System Engineering Process Manager (m/f),Defines and maintains the system engineering ...,University degree in engineering or compatibl...,351.0

In [10]:
# mean of sum_words
mean = data['sum_words'].mean()
mean

209.65989847715736

In [11]:
# variance of sum_words
variance = data['sum_words'].var()
variance

9338.388842846778

In [12]:
# preprocess the data (lower case letters, delete special characters, tokenize)

In [13]:
# turn all letters to lower case
data = pd.concat([data[col].astype(str).str.lower() for col in data.columns], axis=1)
data.head()

,id,job_title,job_description,job_requirement,sum_words
0,1,group leader „compound portfolio“ cvt (m/f),"strategic steering and leading of the ""portfo...","academic degree in engineering, natural scien...",238.0
1,2,vehicle system engineer (m/w),"to master the technologies challenges, we need...",university degree in engineering or comparabl...,231.0
2,3,m&a manager (m/f),analysis and valuation of potential target co...,"academic degree in economics, business admini...",193.0
3,4,development engineer electronic solutions acro...,"in 2013 „firmc pressure check“, the tire press...","academic degree in electronics, mechatronics,...",204.0
4,5,system engineering process manager (m/f),defines and maintains the system engineering ...,university degree in engineering or compatibl...,351.0

In [14]:
# remove (m/f) or (m/w) from job_title
data = data.apply(lambda s: s.str.replace("\(m/f\)","").str.replace("\(m/w\)",""))

In [15]:
# remove punctuations
data = data.apply(lambda s: s.str.replace(r"\(.*\)","").str.replace(
    '“','').str.replace('„','').str.replace('/','').str.replace('"','').str.replace(
    ",",'').str.replace(".",''))

In [16]:
data.head()

,id,job_title,job_description,job_requirement,sum_words
0,1,group leader compound portfolio cvt,strategic steering and leading of the portfol...,academic degree in engineering natural scienc...,2380
1,2,vehicle system engineer,to master the technologies challenges we need ...,university degree in engineering or comparabl...,2310
2,3,m&a manager,analysis and valuation of potential target co...,academic degree in economics business adminis...,1930
3,4,development engineer electronic solutions acro...,in 2013 firmc pressure check the tire pressure...,academic degree in electronics mechatronics i...,2040
4,5,system engineering process manager,defines and maintains the system engineering ...,university degree in engineering or compatibl...,3510

In [17]:
# check how many times a (similar) job title appears
data.job_title.str.count("manager").value_counts()

0    152
1     47
Name: job_title, dtype: int64

In [18]:
data.job_title.str.count("engineer").value_counts()

0    150
1     49
Name: job_title, dtype: int64

In [19]:
data.job_title.str.count("leader").value_counts()

0    186
1     13
Name: job_title, dtype: int64

In [20]:
# the variation in words
count_unique_words_description = Counter(" ".join(data['job_description'].astype(str)).split(" "))
count_unique_words_requirement = Counter(" ".join(data['job_requirement'].astype(str)).split(" "))
count_unique_words = count_unique_words_description + count_unique_words_requirement
count_unique_words.most_common(20)

[('and', 2593),
 ('of', 1670),
 ('the', 1390),
 ('in', 1248),
 ('', 1202),
 ('\r\n', 652),
 ('to', 631),
 ('for', 617),
 ('with', 503),
 ('as', 343),
 ('development', 330),
 ('experience', 315),
 ('management', 292),
 ('or', 267),
 ('project', 259),
 ('a', 259),
 ('knowledge', 229),
 ('skills', 221),
 ('support', 216),
 ('good', 213)]

In [21]:
# tokenize
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /Users/dongxujia/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [22]:
data['job_title'] = data['job_title'].apply(word_tokenize)
data['job_description'] = data['job_description'].apply(word_tokenize)
data['job_requirement'] = data['job_requirement'].apply(word_tokenize)
data.head()

,id,job_title,job_description,job_requirement,sum_words
0,1,"[group, leader, compound, portfolio, cvt]","[strategic, steering, and, leading, of, the, p...","[academic, degree, in, engineering, natural, s...",2380
1,2,"[vehicle, system, engineer]","[to, master, the, technologies, challenges, we...","[university, degree, in, engineering, or, comp...",2310
2,3,"[m, &, a, manager]","[analysis, and, valuation, of, potential, targ...","[academic, degree, in, economics, business, ad...",1930
3,4,"[development, engineer, electronic, solutions,...","[in, 2013, firmc, pressure, check, the, tire, ...","[academic, degree, in, electronics, mechatroni...",2040
4,5,"[system, engineering, process, manager]","[defines, and, maintains, the, system, enginee...","[university, degree, in, engineering, or, comp...",3510

In [23]:
# extracts the key words that you wrote down in the spread sheet using regular expressions

In [24]:
count_unique_words['excellent']

46

In [25]:
count_unique_words['assertive']

4

In [28]:
count_unique_words['travel']

44

In [29]:
count_unique_words['lead']

64